<!DOCTYPE html>
<html>
  <head>
    <title>APICurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <h3><%= current_user.name %></h3>
      <h3><%= link_to "Logout", '#' %></h3>
    <% else %>
      <h3><%= link_to "Sign in with Github", github_login_path %></h3>
    <% end %>

    <%= yield %>
  </body>
</html>
